# Python
__pycache__/
*.py[cod]

# Entorno virtual
venv/

# instance
instance/

# migrations
migrations/

# .env
.env

# certs
certs/

"C:\Program Files\Flask\Cierre OFs Sany\*.bat"

"C:\Program Files\Flask\Cierre OFs Sany\run_waitress.py"



